[user]
  name = Javier Portillo
  email = javiermarquezportillo@gmail.com
[checkout]
  defaultRemote = origin
[init]
  defaultBranch = main
[core]
  editor = nvim
  pager = delta
[commit]
  template = ~/.config/git/commit_template

