[user]
  name = Javier Portillo
  email = javiermarquezportillo@gmail.com
  signingkey = 2FB60659F7C33AA8
[checkout]
  defaultRemote = origin
[init]
  defaultBranch = main
[core]
  editor = nvim
  pager = delta
[commit]
  template = ~/.config/git/commit_template
  gpgsign = true

[tag]
  gpgSign = true
