[Desktop Entry]
Type=Application
Name=Autodesk Fusion
MimeType=application/fusion;
Exec=env WINEPREFIX="/home/javier/.autodesk_fusion/wineprefixes/default" wine start /ProgIDOpen cam360_file %f
NoDisplay=true
StartupNotify=true
Icon=7A2A_Fusion360.0
